.header {
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

.header-text {
    margin: auto;
    text-align: center;
}

.top-img {
    margin: auto;
    width: 25rem;
}

.nav-bar {
    margin: auto;
}

.nav-button {
    display: inline-block;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.secondary-header {
    text-align: center;
}

.project-view-container {
    text-align: center;
}

.project-title {
    text-align: center;
}

.project-images {
    justify-content: center;
}

.project-images img {
    width: 25%
}

.project-description {
    margin: 0 auto;
    width: 50%;
}

.project-gh-url {
    text-align: center;
}
