<!DOCTYPE html>
<html lang="end">
    <head>
        <meta charset="utf-8">
        <link 
            rel="stylesheet"
            href="../static/styles.css"
            />

        <title> Portfolio </title>
    </head>


    <body>
        <div class="header">
            <img class="top-img" src="../static/img/top-img.webp"/>

            <!-- Navigation-->
            <h1 class="header-text">Welcome</h1>
            <nav class="nav-bar">
                <div class="nav-button">| <a href="{{ url_for('home') }}">Home</a> </button>
                <div class="nav-button">| <a href="{{ url_for('show_projects_page') }}">Projects</a> </button>
                <div class="nav-button">| <a href="{{ url_for('show_about_me_page') }}">More About Me</a> </button>
                <div class="nav-button">| <a href="{{ url_for('show_about_site_page') }}">More About This Site</a> </button>
                <div class="nav-button">| <a href="{{ url_for('show_contact_page') }}">Contact/Socials</a> |</button>
            </nav>
        
        </div> 
