<!-- CAN I GET THE SPACING RIGHT BY USING AN EMPTY DIV WHEN -->
<!-- THE # OF PROJECTS IS ODD??-->
{% include "header.html" %}
<div class="center-text">
    <h2>My Projects</h2>
</div>

    {% for project_row in projects %}
        {% if project_row.id % 2 == 0 %}
        <div class="project-row">
        {% endif %}
            <div class="project-view-container">
                <div class="center-text">
                    <b>{{ project_row.title }}</b>
                </div>
                <div class="project-images">
                    <img src="/static/img/site_screenshot.png" />
                    <img src="/static/img/site_screenshot.png" />
                </div>
                <span class="project-description">
                    {{ project_row.description }}
                </span>
                <div class="project-gh-url">
                    <a href="https://github.com">{{ project_row.github_url }}</a>
                </div>
            </div>
        {% if loop.index % 2 == 0 or project_row.id == projects|length - 1 %}
    </div>
        {% endif %}
    {% endfor %}
</div>

{% include "footer.html" %}
