{% include "header.html" %}
<div class="center-text">
    <h2>My Projects</h2>
</div>

<div class="container">
    {% for project_row in projects %}
        {{ loop.index }}        
        {% if project_row.id % 2 == 0 %}
    <div class="project-row">
        {% endif %}
        <div class="project-view-container">

            <div class="center-text">
                <b>{{ project_row.title }}</b>
            </div>

            <div class="project-images">
                <img src="/static/img/site_screenshot.png" />
                <img src="/static/img/site_screenshot.png" />
            </div>

            <span class="project-description">
                {{ project_row.description }}
            </span>

            <div class="project-gh-url">
                <a href="https://github.com">{{ project_row.github_url }}</a>
            </div>

        </div>
        {% if project_row.id % 2 == 1 %}
    </div>
        {% endif %}
    {% endfor %}
    </div>
    </div>

{% include "footer.html" %}
